
@{
    ViewBag.Title = "test2";
}

<h2>test2</h2>


<span>value A @ViewBag.valueA</span>
<br />
<span>value B @ViewBag.valueB</span>
<br />
<span>===================================</span><br />
<span>sum @(ViewBag.valueA+ ViewBag.valueb)</span><br />
<span>subtraction @(ViewBag.valueA- ViewBag.valueb)</span><br />
<span>multiplication @(ViewBag.valueA* ViewBag.valueb)</span><br />
<span>division @(ViewBag.valueA/ ViewBag.valueb)</span><br />